<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:overrideLibrary="love.yinlin.compose.components.lottie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:maxAspectRatio="2.4"
        android:theme="@style/Theme.GYscandoc">
        <activity
            android:name=".Home.Page"
            android:exported="false" />
        <activity
            android:name=".Intro.Intro1"
            android:exported="false" />
        <activity
            android:name=".Intro.Intro2"
            android:exported="false" />
        <activity
            android:name=".Intro.Intro3"
            android:exported="false" />
        <activity
            android:name=".Security.SecurityBasicsActivity"
            android:exported="false" />
        <activity
            android:name=".Security.SecuritySummaryActivity"
            android:exported="false" />
        <activity
            android:name=".Security.SecurityEngineerListActivity"
            android:exported="false" />
        <activity
            android:name=".Security.SecurityBasicsListActivity"
            android:exported="false" />
        <activity
            android:name=".Security.SecurityBasicsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Security.AdvancedPenetrationListActivity"
            android:exported="false" />
        <activity
            android:name=".Security.AdvancedPenetrationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Linux.LinuxCommandsActivity"
            android:exported="false" />
        <activity
            android:name=".Linux.LinuxCommandsListActivity"
            android:exported="false" />
        <activity
            android:name=".Linux.PackageCommandsActivity"
            android:exported="false" />
        <activity
            android:name=".Linux.CommandDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CyberSecurity.CyberSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".CyberSecurity.CyberSecurityListActivity"
            android:exported="false" />
        <activity
            android:name=".CyberSecurity.SecurityPackageCommandsActivity"
            android:exported="false" />
        <activity
            android:name=".CyberSecurity.SecurityCommandDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Windows.WindowsCommandsActivity"
            android:exported="false" />
        <activity
            android:name=".Windows.WindowsCommandsListActivity"
            android:exported="false" />
        <activity
            android:name=".Windows.WindowsPackageCommandsActivity"
            android:exported="false" />
        <activity
            android:name=".Windows.WindowsCommandDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".EasterEggActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".RelatedProjectsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>